@page
@model Project.Pages.AdminPages.StockAmmending.ViewStockModel
@{
}
<h1>:: View Stock ::</h1>
<br />
<br />

<div>
    <table class="table table-active">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Items[0].ProductID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Items[0].ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Items[0].Price)
                </th>
                <th>
                    Actions
                </th>


                <continue!>

            </tr>
        </thead>


        @for (int i = 0; i < Model.Items.Count; i++)
        {
            <tr>
                <td>@Model.Items[i].ProductID</td>
                <td>@Model.Items[i].ProductName</td>
                <td>@Model.Items[i].Price</td>
                <td>
                    <a asp-page="/AdminPages/StockAmmending/UpdateStock" asp-route-id="@Model.Items[i].ProductID">Update</a>
                    <a asp-page="/AdminPages/StockAmmending/DeleteStock" asp-route-id="@Model.Items[i].ProductID">Delete</a>
                </td>
                <continue!>
            </tr>
        }
    </table>
</div>